<html></html>

<head>
    <title>Tivity - Sign In</title>
    <link rel="icon" type="image/x-icon" href="/images/logos/Tivity-Light.ico">
    <link rel="stylesheet" href="style/sign-in.css">
</head>

<script src="script/sign-in.js"></script>

<body>
    <span>Hello from Tivity!</span>
    <br>
    <div class="signinDiv">
        <input type="text" placeholder="username" id="username">
        <br>
        <input type="password" placeholder="password" id="password">
        <br>
        <input type="button" value="Sign In" id="signinButton" onclick="signinUser()">
    </div>
    <br>
    <span class="error" id="error"></span>
</body>

</html>